body {
  background-color: black;
  text-align: center;
}
h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
.download a {
  color: limegreen;
  font-size: 20px;
}
h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
  text-align: center;
}
.remembers_places {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}
.cr {
  text-align: right;
  color: gray;
}
.phone {
  padding-top: 12px;
}
